<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
<head>
  <meta charset="UTF-8">
  <title>Flat Chicken Listing</title>
  <link rel="stylesheet" href="/dist/style.css">
</head>
<body class="font-sans h-full bg-gray-100">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
              <div class="flex items-center">
                  <a href="/" class="flex-shrink-0">
                      <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Flat Chicken">
                  </a>
                  <div class="hidden md:block">
                      <div class="ml-10 flex items-baseline space-x-4">
                          <a href="/profiles" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Listings</a>
                          <a href="/saved-profiles" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">My Profile</a>
                          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Responses</a>
                      </div>
                  </div>
              </div>
              <div class="hidden md:flex items-center space-x-4">
                  <a href="#" class="text-gray-300 hover:text-white">Notifications</a>
                  <a href="/profile" class="text-gray-300 hover:text-white">Profile</a>
              </div>
          </div>
      </div>
    </nav>

    <div class="flex items-center justify-center min-h-full py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto bg-white rounded-lg shadow overflow-hidden">
        <div class="px-4 py-5 sm:p-6">
          <!-- Profile Introduction Section -->
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900"><%= user.firstName %> <%= user.lastName %></h3>
            <p class="mt-1 text-sm text-gray-500"><%= user.gender %>, <%= user.age %></p>
          </div>
          <div class="border-t border-gray-200">
            <div class="border-t border-gray-200">
              <dl class="divide-y divide-gray-200">
                <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">Looking for</dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= user.lookingFor %></dd>
                </div>
                <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">Move in</dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= user.moveInTimeframe %></dd>
                </div>
                <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">Budget</dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= user.monthlyBudget %> per month</dd>
                </div>
                <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">About</dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= user.about %></dd>
                </div>
                <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">Contact</dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= user.username %></dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>  
</body>
</html>


